.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
}

.title {
  height: 13rem;
  display: grid;
  place-content: center;
  text-align: center;
}

.name {
  font-weight: 700;
  color: var(--main-orange);
}

.jobtitle {
  font-size: 1rem;
  font-weight: 700;
}

.icons {
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
