.body {
  background-color: white;
  display: grid;
  grid-template-columns: minmax(320px, 1078px) 2px 22rem;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "main line sidemenu" "main line sidemenu";
}
.main {
  grid-area: main;
  padding: 3rem;
}
.vline {
  width: 1px;
  border: 1px solid var(--main-orange);
  grid-area: line;
}
.sidemenu {
  grid-area: sidemenu;
  min-height: 100vh;
}
.topbar {
  display: none;
  grid-area: top;
}

@media (max-width: 1080px) {
  .body {
    grid-template-columns: minmax(320px, 100vw) 360px;
    grid-template-rows: minmax(60px, min-content) 1fr;
    grid-template-areas: "top top" "main main";
  }
  .sidemenu,
  .vline {
    display: none;
  }
  .topbar {
    display: block;
  }
  .main {
    max-width: 100vw;
    padding: 1.5rem;
  }
}
